{{!
	string msg-article-toolbar-screen-reader
	MenuDefinition data-namespace-tabs
	MenuDefinition data-variants
	MenuDefinition data-page-actions
	MenuDefinition data-page-actions-more
}}

<nav id="mw-head" class="mw-article-toolbar" role="navigation" aria-labelledby="mw-article-toolbar--label">
	<h2 id="mw-article-toolbar--label" class="vector-menu--label"> {{msg-article-toolbar-screen-reader}} </h2>
	<div id="left-navigation" class="mw-article-toolbar--left">
		{{#data-namespace-tabs}}{{>Menu}}{{/data-namespace-tabs}}
		{{#data-variants}}{{>Menu}}{{/data-variants}}
	</div>
	<div id="right-navigation" class="mw-article-toolbar--right">
		{{#data-page-actions}}{{>Menu}}{{/data-page-actions}}
		{{#data-page-actions-more}}{{>Menu}}{{/data-page-actions-more}}
		{{^is-layout-new-search}} {{#data-search-box}}{{>SearchBox}}{{/data-search-box}} {{/is-layout-new-search}}
	</div>
</nav>
