{{!
	string|null html-site-notice the contents of a banner defined in MediaWiki:Sitenotice.
		Also used by CentralNotice to inject banners into Vector.
	Indicator[] array-indicators wiki-defined badges such as "good article",
		"featured article". An empty array if none are defined.
	string page-langcode the content language of the article. Assumed to be escaped HTML.
	string html-title
	bool page-isarticle
	string msg-tagline
	string html-subtitle
	string html-undelete-link
	string html-newtalk
	string html-body-content
	string html-categories
	string html-after-content
}}

{{! `role` is unnecessary but kept to support selectors in any gadgets or user styles. }}
<main id="content" class="mw-body" role="main">
	<a id="top"></a>
	<div id="siteNotice" class="mw-body-content">{{{html-site-notice}}}</div>
	<header class="mw-body-header">
		<h1 id="firstHeading" class="firstHeading" lang="{{page-langcode}}">{{{html-title}}}</h1>
		{{>Indicators}}
	</header>
	<div id="bodyContent" class="mw-body-content">
		{{#page-isarticle}}<div id="siteSub" class="noprint">{{msg-tagline}}</div>{{/page-isarticle}}
		<div id="contentSub"{{{html-user-language-attributes}}}>{{{html-subtitle}}}</div>
		<div id="contentSub2">{{{html-undelete-link}}}</div>
		{{{html-newtalk}}}
		{{!
			Keep this empty `div` for compatibility with gadgets and user scripts
			using this place to insert extra elements before.
		}}
		{{{html-body-content}}}
		{{{html-body-content-footer}}}
		{{{html-categories}}}
	</div>
</main>

{{{html-after-content}}}
