{{!
	object data-sidebar See Sidebar.mustache for documentation.
	LogoOptions data-logos See Logo.mustache for documentation.
	object data-search-box See SearchBox.mustache for documentation.
	MenuDefinition data-personal-menu
	string html-lang-selector
}}

<header class="mw-header">
	<div class="mw-header-left">
		{{>Sidebar}}
		{{>Logo}}
	</div>
	{{#is-layout-new-search}} 
		{{#data-search-box}}{{>SearchBox}}{{/data-search-box}}
		{{{html-lang-selector}}}
	{{/is-layout-new-search}}
	{{#data-personal-menu}}{{> MenuPersonal}}{{/data-personal-menu}}
</header>
