{{!
	See @typedef MenuDefinition
}}

{{! `role` is unnecessary but kept to support selectors in any gadgets or user styles. }}
<nav id="{{id}}" role="navigation"
	{{#class}}class="{{.}}"{{/class}}
	aria-labelledby="{{id}}-label"
	{{{html-user-language-attributes}}}
	{{{html-tooltip}}}
	>

	{{#is-dropdown}}
	<input tabindex="-1" type="checkbox" id="{{id}}-checkbox" class="vector-menu-checkbox" aria-haspopup="menu" aria-controls="{{id}}-list" aria-labelledby="{{id}}-label" aria-hidden="true"/>
	<label tabindex="0" id="{{id}}-label" for="{{id}}-checkbox" class="{{label-class}}" aria-haspopup="menu" aria-controls="{{id}}-list"> <span>{{label}}</span> </label>
	{{/is-dropdown}}

	{{^is-dropdown}}
	<h3 id="{{id}}-label" class="{{label-class}}"> <span>{{label}}</span> </h3>
	{{/is-dropdown}}

	{{! `body` class for backwards compatibility. }}
	{{! `menu` is on dropdowns for historic reasons. It should not be applied elsewhere per T253329. }}
	<ul id="{{id}}-list" role="menu" class="body{{#is-dropdown}} menu{{/is-dropdown}} vector-menu__list">
		{{{html-items}}}
	</ul>

	{{{html-after-portal}}}
</nav>
