{{!
	string html-navigation-heading heading for entire navigation that is
		usually hidden to screen readers
	object data-namespace-tabs for VectorTabs.mustache template partial and
	object data-variants for VectorMenu.mustache template partial
		that appears inside #left-navigation (namespaces and variants).
	object data-page-actions for VectorTabs.mustache template partial and
	object data-page-actions-more for VectorMenu.mustache template partial
		that appears inside #right-navigation (page actions and search).
}}

<div id="mw-head" class="content-margin">

	<h2 class="speech-only"> {{{html-navigation-heading}}} </h2>

	<div id="left-navigation">
		{{#data-namespace-tabs}}
		{{>VectorTabs}}
		{{/data-namespace-tabs}}

		{{#data-variants}}
		{{>VectorMenu}}
		{{/data-variants}}
	</div>

	<div id="right-navigation">
		{{#data-page-actions}}
		{{>VectorTabs}}
		{{/data-page-actions}}

		{{#data-page-actions-more}}
		{{>VectorMenu}}
		{{/data-page-actions-more}}

		{{#data-search-box}}
		{{>SearchBox}}
		{{/data-search-box}}
	</div>
</div>
