{{!
  string html-headelement a string of attribute HTML that begins with `<html> and ends with '</head>'
    and contains `meta` tags and ResourceLoader internals.
  object data-content for content template partial. see Content.mustache for documentation.
  string html-dataAfterContent
  object data-header for Header.mustache template partial. See documentation there.
  object data-navigation for navigation template partial. see Navigation.mustache for documentation.
  object data-sidebar for Sidebar.mustache template partial. See documentation there.
  object data-footer for footer template partial. see Footer.mustache for documentation.
  string html-printtail HTML to render at the end of the page contained necessary script tags for ResourceLoader
    terminated with `</body></html>`.
}}

{{{html-headelement}}}

<input id="sidebar-hide-checkbox" type="checkbox" class="hidden">

<div class="main">
	<div id="mw-head-base" class="noprint content-margin"></div>

	{{#data-content}}
	{{>Content}}
	{{/data-content}}

	{{{html-dataAfterContent}}}

	{{#data-navigation}}
	{{>Navigation}}
	{{/data-navigation}}
</div>  {{! .main }}

{{#data-header}}
{{>Header}}
{{/data-header}}

{{#data-sidebar}}
{{>Sidebar}}
{{/data-sidebar}}

<div class="main">
	{{#data-footer}}
	{{>Footer}}
	{{/data-footer}}
</div>  {{! .main }}

{{{html-printtail}}}
