{{!
	string|null empty-portlet
	string msg-label
	string|null html-userlangattributes
	string|null html-lang-selector
	string|null html-loggedin
	string|null html-personal-tools
}}

<div id="p-personal" role="navigation" {{#empty-portlet}}class="{{empty-portlet}}"{{/empty-portlet}} aria-labelledby="p-personal-label">
	{{! #p-personal h3 is .hidden, not .speech-only: aria-labelledby causes screen readers to read it }}
	<h3 id="p-personal-label" class="hidden"> {{msg-label}} </h3>
	<ul {{{html-userlangattributes}}}>
		{{{html-lang-selector}}}
		{{{html-notloggedin}}}
		{{{html-personal-tools}}}
	</ul>
</div>
