{{!
	string html-body-content-toc Pre-generated TOC.
}}

<nav id="mw-sidebar-toc" class="mw-sidebar-toc" role="navigation" aria-labelledby="mw-sidebar-toc-label">
	{{^has-items}} {{{html-body-content-toc}}} {{/has-items}}
	{{> TocItems}}
</nav>
