{{!
	array array-portals contains options for Portal template
}}

<div id="mw-panel">
	<div id="mw-panel-top"></div>  {{! For IE<=8 support:  #mw-panel-top + .portal  selector instead of  .portal:first-child  }}
	{{#array-portals-first}}
	{{>Portal}}
	{{/array-portals-first}}
	{{#array-portals-rest}}
	{{>Portal}}
	{{/array-portals-rest}}
</div>
