{{!
	string html-body-content-toc Pre-generated TOC.
}}

<nav id="mw-sidebar-toc" class="mw-sidebar-toc" role="navigation" aria-labelledby="mw-sidebar-toc-label">
	<h2 id="mw-sidebar-toc-label" class="vector-menu__label"> {{msg-toc-screen-reader}} </h2>
	{{{html-body-content-toc}}}
</nav>
