{{!
	@typedef object emphasized-sidebar-action
	@prop string href
	@prop string text

	string html-logo-attributes for site logo. Must be used inside tag e.g. `class="logo" lang="en-gb"`
	MenuDefinition data-portals-first
	MenuDefinition[] array-portals-rest
	emphasized-sidebar-action data-emphasized-sidebar-action For displaying an emphasized action in the sidebar.
}}

<div class="mw-sidebar-container">
	<aside id="mw-sidebar" class="mw-sidebar">
		<div class="mw-sidebar-toggles">
			{{#data-sidebar-toggles}} {{> SidebarToggle}} {{/data-sidebar-toggles}}
		</div>
		{{#data-sidebar}} {{> SidebarNavigation}} {{/data-sidebar}}
		{{#data-toc}} {{> SidebarToc}} {{/data-toc}}
	</aside>
</div> {{! END mw-sidebar-container }}
