{{!
	string target  Name of controlled sidebar panel.
	string icon  Name of mw-ui-icon.
	tooltip  Tooltip text, also read by screen reader.
}}

<label for="mw-sidebar-{{{target}}}-radio"
	class="mw-sidebar-button mw-ui-icon mw-ui-icon-{{{icon}}}"
	role="button" tabindex="0"
	aria-controls="mw-sidebar-{{{target}}}"
	title="{{tooltip}}"
	>
</label>
