{{!
	@typedef object emphasized-sidebar-action
	@prop string href
	@prop string text

	string html-logo-attributes for site logo. Must be used inside tag e.g. `class="logo" lang="en-gb"`
	MenuDefinition data-portals-first
	MenuDefinition[] array-portals-rest
	emphasized-sidebar-action data-emphasized-sidebar-action For displaying an emphasized action in the sidebar.
}}

<label
	id="mw-sidebar-button"
	class="mw-sidebar-button mw-ui-icon mw-ui-icon-element"
	for="mw-sidebar-checkbox"
	role="button"
	aria-controls="mw-panel"
	data-event-name="ui.sidebar"
	tabindex="0">
	{{msg-vector-action-toggle-sidebar}}
</label>

<div class="mw-sidebar-anchor"><div class="mw-sidebar-container">
	{{#data-sidebar}}{{> SidebarNavigation}}{{/data-sidebar}}
</div></div>
