{{!
	string html-headelement a string of attribute HTML that begins with `<html>` and ends with
		`</head>` and contains `meta` tags and ResourceLoader internals.
	string msg-vector-jumptonavigation
	string msg-vector-jumptosearch
	boolean sidebar-visible For users that want to see the sidebar on initial render, this should be
	  true.
	string msg-vector-action-toggle-sidebar The label used by the sidebar button.
	string html-navigation-heading heading for entire navigation that is usually hidden to screen
		readers
	object data-sidebar See Sidebar.mustache for documentation.
	object data-footer for footer template partial. see Footer.mustache for documentation.
	string html-printtail HTML to render at the end of the page contained necessary script tags for
		ResourceLoader terminated with `</body></html>`.
}}

{{{html-headelement}}}

<input
	type="checkbox"
	id="mw-sidebar-checkbox"
	class="mw-sidebar-toggle"
	{{{html-sidebar-checked}}}>

{{#data-toc}}
<input
	type="radio" name="sidebar" value="navigation"
	id="mw-sidebar-navigation-radio"
	class="mw-sidebar-toggle"
	{{{html-sidebar-navigation-checked}}}>
<input
	type="radio" name="sidebar" value="toc"
	id="mw-sidebar-toc-radio"
	class="mw-sidebar-toggle"
	{{{html-sidebar-toc-checked}}}>
{{/data-toc}}

{{{raw-sidebar-init-script}}}

{{>Header}}

<div class="mw-workspace-container">

{{>Sidebar}}

<div class="mw-content-container">

<div id="jump-to-nav"></div>
<a class="mw-jump-link" href="#mw-sidebar-button">{{msg-vector-jumptonavigation}}</a>
<a class="mw-jump-link" href="#searchInput">{{msg-vector-jumptosearch}}</a>

{{>ArticleToolbar}}
{{>Content}}

<div class="mw-footer-container">
	{{#data-footer}}{{>Footer}}{{/data-footer}}
</div>

</div> {{! END mw-content-container }}
</div> {{! END mw-workspace-container }}

{{{html-printtail}}}
