/*
 * Vector's common typography rules,
 * including whitespace with `margin` & `padding` and list bullets
 * as part of typographic styles. Iconography wouldn't belong here.
 *
 */

@import '../../vector.variables.less';

html {
	font-size: @font-size-root;
}

html,
body {
	font-family: @font-family-sans;
}

ul {
	// `list-style-image` sits on `ul` as it inherits and we don't need to worry about `ol`.
	// No need for PNG fallback. Fallback is browser default (a smaller, also black, circle).
	.list-style-image( 'images/bullet-icon.svg' );
}

pre,
.mw-code {
	line-height: @line-height-code;
}

.mw-jump-link:not( :focus ) {
	.mixin-screen-reader-text;
}

/* Allow edit sections outside of mw-body-content (T160269) */
.mw-editsection,
.mw-editsection-like {
	font-family: @font-family-sans;
	margin-left: @margin-left-editsection;
}

/* Correct directionality when page dir is different from site/user dir */
/* @noflip */
.mw-content-ltr .mw-editsection,
.mw-content-rtl .mw-content-ltr .mw-editsection {
	margin-left: @margin-left-editsection;
}

/* @noflip */
.mw-content-rtl .mw-editsection,
.mw-content-ltr .mw-content-rtl .mw-editsection {
	margin-right: @margin-left-editsection;
}

/* Main content area, including siteNotice, indicators, firstHeading and `.mw-body-content`. */
.mw-body {
	// h1's can exist outside of `.mw-body-content` so some heading styles
	// therefore need to be defined in `.mw-body` as well.
	h1,
	h2 {
		margin-bottom: 0.25em;
		padding: 0;
		border-bottom: none;
		line-height: @line-height-heading;
	}

	h2:not( .mw-headline ) {
		// In core patch I6c0f2a2008010f163bf977d1935268030a5d7a53
		// "sharewidget: Show share links when page is not editable"
		// `h2` becomes `h2.mw-headline`. See Linker::makeHeadline().
		border-bottom: none;
	}

	.mw-body-header,
	h2.mw-headline,
	h2 .mw-headline {
		// h1 bottom border is full width.
		// h2 bottom border is only as wide as the headline text.
		@color-end: @background-color-base;
		@color-middle: @border-color-content-heading;
		@width-gradient: 1rem; // 16px
		@width-overflow: 0.4rem; // 6.4px
		// Extend border beyond allocated area.
		overflow: visible;
		margin-left: -@width-overflow;
		margin-right: -@width-overflow;
		padding-left: @width-overflow;
		padding-right: @width-overflow;
		//border-bottom: ( 1rem / 16px ) solid @color-middle;
		border-bottom: unit( 1px / @font-size-root--px, rem ) solid @color-middle;
		// Support: IE11.
		border-image: linear-gradient( to right, @color-end, @color-middle @width-gradient calc( 100% ~'-' @width-gradient ), @color-end 100% ) 100% 1;
	}

	.mw-headline {
		// Position the bottom border closer to the text.
		display: inline-block;
		overflow: visible; // Necessary for proper vertical alignment of .mw-editsection
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: @font-family-serif;

		// Fallback heading font for scripts which render poorly in `@font-family-serif`.
		// See T73240
		&:lang( ja ), /* See T65817 */
		&:lang( he ), /* See T65843 and T65844 */
		&:lang( ko ) { /* See T65827 */
			font-family: @font-family-sans--fallback;
		}

		/* Burmese (Myanmar) language headlines would be cropped with set `line-height` */
		/* See T193270 */
		&:lang( my ) {
			line-height: normal;
		}
	}

	h1 {
		font-size: @font-size-heading-1;
	}

	h2 {
		font-size: @font-size-heading-2;
	}

	h3 {
		font-size: @font-size-heading-3;
	}

	h4 {
		font-size: @font-size-heading-4;
	}

	h5 {
		font-size: @font-size-heading-5;
	}

	h6 {
		font-size: @font-size-heading-6;
	}
}

.mw-body-content {
	font-size: @font-size-content;
	// Support IE 9-11, Trident cuts values 2 digits after decimal point.
	// `calc` enables to set correct calculation in place again. See T102364.
	font-size: calc( 1em ~'*' unit( @font-size-content ) );
	line-height: @line-height-content;

	h1,
	h2 {
		margin-top: 1em;
	}

	h3,
	h4,
	h5,
	h6 {
		margin-top: 0.3em;
		margin-bottom: 0;
		padding-bottom: 0;
		line-height: @line-height-content;
		font-weight: bold;
	}

	.toc h2 {
		font-family: @font-family-sans;
		font-size: @font-size-reset; // Reset.
	}

	p {
		margin: 0.5em 0;
	}
}

.toctogglecheckbox:focus + .toctitle .toctogglelabel {
	&:extend( :focus ); // Add the selector to the `:focus` rule in normalize.less
}

// External links
.mw-parser-output {
	.external {
		background-image: url( images/external-link-ltr-icon.svg );
		background-position: center right;
		background-repeat: no-repeat;
		padding-right: 13px;
	}
}
