@import 'mediawiki.mixins.less';

// == Header layout ==

@supports ( display: flex ) {
	// No @supports in IE<=11.
	#header {
		.flex-display();
		// https://caniuse.com/#search=align-items
		align-items: center;  // Vertical centering of child elements (IE>=11).
	}
}

// == Personal menu layout ==

#p-personal {
	// Fallback for non-flex browsers (IE<=7) and old browsers (IE<=11).
	// https://caniuse.com/#feat=mdn-css_properties_display_flex
	// https://caniuse.com/#feat=flexbox
	float: right;  // Move to the right.
	margin-left: auto;  // Move to the right with flexbox layout.

	/* Vertical centering 8<=IE<=10 with flexbox model.
	margin-top: auto;
	margin-bottom: auto;
	*/

	margin-top: 0.33em;  // Approximate vertical centering.

	/* Display on top of page tabs - bugs 37158, 48078 */
	// TODO: Test if these bugs still apply. Presumably not.
	// z-index: 100;
}

@supports ( display: flex ) {
	// No @supports in IE<=11.
	#p-personal {
		margin-top: unset;
		margin-bottom: unset;
	}
}

// == Logo layout ==

#p-logo {
	float: left;  // Fallback for old non-flex browsers.
	margin-right: auto;  // Center-position element between #p-logo and #p-personal.
}

// == Logo image ==

#p-logo a {
	text-decoration: none;
	white-space: nowrap;
	flex-wrap: nowrap;

	> span {
		background-image: url( ../static/enwiki-2x.png );
		display: inline-block;
		vertical-align: middle;
	}

	.logo-globe {
		width: 60px;
		height: 51px;
		background-size: 60px auto;
		background-position: 0 0;
		background-repeat: no-repeat;
	}

	.logo-wordmark {
		height: 36px;
		width: 120px;
		background-size: 120px auto;
		background-position: 0 -98px;
		background-repeat: no-repeat;
	}
}
