@import '../variables.less';
@import 'mediawiki.mixins.less';

.mw-body-header {
	// Keep border in sync with:  core/resources/src/mediawiki.skinning/elements.css / h1-h6
	border-bottom: 1px solid #a2a9b1;
	.mixin-clearfix();
}

h1.firstHeading {
	float: left;
	margin: 0;
	border: none;
}

.mw-indicators {
	float: right;
	font-size: @font-size-content;
	line-height: 1;
	position: relative;
}

.mw-indicator {
	display: inline-block;

	@media ( min-width: 720px ) {
		white-space: nowrap;
	}
}
