@import '../variables.less';

// FIXME: Is specific `.mw-body` even needed? Does `.mw-indicators` exist outside?
.mw-body {
	.mw-indicators {
		font-size: @font-size-content;
		line-height: 1;
		position: relative;
	}

	.mw-indicator {
		display: inline-block;
	}
}
