// Layout rules divide the page into sections and how VectorComponents should be arranged in the skin.
// The rules here should only define the layout, not color or typography.
// CSS is ordered in terms of visual position from the top of the article.

@import '../../variables.less';
@import 'mediawiki.mixins.less';
@import 'mediawiki.mixins.flex-align.less';

// Modern layout variables
@height-tabs: 2.5em; // Keep in sync with .vector-menu-tabs height.
@margin-top-sidebar: 0.5em;

// Header sizes defined in the description of T246170 and comment T246170#5957100
@padding-left-sidebar: 0.5em;
@padding-horizontal-header: @margin-end-portal +
	@padding-left-sidebar +
	( @margin-start-nav-main-body / @font-size-nav-main-heading );
@padding-top-header: 0.625em;
@padding-bottom-header: 0.3125em;
@height-logo-icon: 3.125em;
@height-header--inner: 3.375em; // Logo sizes per specification in T245190.
@height-header--wide: @height-header--inner +
	@padding-top-header + @padding-bottom-header;
@height-header--medium: @height-header--wide + @height-tabs; // Space for personal menu row.
@height-header--narrow: @height-header--medium + @height-tabs + 0.5em; // Space for SearchBox + personal menu row + that wrapping.
@max-width-header--medium: 1100px; // 2 rows in header: logo + search, usermenu.
@max-width-header--narrow: 600px; // 3 rows in header: logo, search, usermenu.
@margin-vertical-nav-personal--medium: unit( 8px / @font-size-browser, em ); // 8/16 = 0.5em

// Sidebar width
@padding-left-sidebar: 0.5em;
@width-grid-column-one: 11em;

body {
	// General background/foreground color definition as one exception to the rule.
	background-color: @background-color-base;
	color: @color-base;
	// Vertical scrollbar always visible.
	overflow-y: scroll;
}

.mw-body,
.parsoid-body {
	direction: ltr;
	padding: @padding-content;
}

.mw-body {
	// Will be removed when we limit content width (T246420).
	/* Border on top, left, and bottom side */
	border: @border-width-base @border-style-base @border-color-content;
	border-right-width: 0;
	/* Merge the border with tabs' one (in their background image) */
	margin-top: -@border-width-base;

	.firstHeading {
		/* Change the default from mediawiki.skinning CSS to let indicators float into heading area */
		overflow: visible;
	}
}

/* Space for header above content */
.mw-header-placeholder {
	// Reserve space for the absolute positioned header and tabs.
	height: @height-tabs + @height-header--wide;

	.skin-vector-new-search & {
		@media ( max-width: @max-width-header--medium ) {
			height: @height-tabs + @height-header--medium; // Space for personal menu row.
		}

		@media ( max-width: @max-width-header--narrow ) {
			height: @height-tabs + @height-header--narrow; // Space for SearchBox + personal menu row.
		}
	}
}

/* Header layout */
.mw-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	// A `min-height` is set to account for projects where no icon is set.
	min-height: @height-header--inner;
	padding: @padding-top-header @padding-horizontal-header @padding-bottom-header;
	// Vertical centering of header elements (IE>=11), requires flex.
	.flex-display();
	// Support IE9 with: `inline-block` rule on child elements and `float: right` on Personal menu.
	.mixin-clearfix(); // Close float flow.
	.align-items( center ); // Supports: IE11.
	z-index: @z-index-header;

	.skin-vector-new-search & {
		@media ( max-width: @max-width-header--medium ) {
			.flex-wrap();
		}
	}
}

/* Sidebar button */
#mw-sidebar-button,
.mw-logo {
	// Non-flex fallback for IE<=9.
	display: inline-block;
	vertical-align: middle;
}

/* Searchbox */
body:not( .skin-vector-new-search ) #p-search {
	// :not support: IE9+
	float: left;
	margin: 0.5em 0.5em 0 0.5em;
	min-width: 5em;
	// Support: IE 8, Firefox 18-, Chrome 19-, Safari 5.1-, Opera 19-, Android 4.4.4-.
	width: 13.2em;
	// Support: Modern browsers, responsive width.
	width: 20vw;
	max-width: 20em;
}

/* SearchBox in header */
.skin-vector-new-search .mw-search {
	.flex-grow( 1 );  // Take up as much space as possible.
	min-width: 350px;  // Flex min size.
	max-width: 580px;  // Flex max size.
	padding: 0 40px;
	margin: auto 0;  // Vertical centering with flex. Fallback for align-items: center; on parent.
	//page-break-after: always; /* CSS 2.1 syntax */
	//break-after: always; /* New syntax */

	@media ( max-width: @max-width-header--medium ) {
		min-width: 100px; // Don't wrap into 3 rows at <725px.
		padding-right: 0;
		margin-left: auto; // Right justify.
	}

	@media ( max-width: @max-width-header--narrow ) {
		width: 100%;
		padding-left: 0;
		margin-top: @margin-vertical-nav-personal--medium;
	}
}

// The form element
.skin-vector-new-search .mw-search-inner {
	width: 100%;
}

// The input element
.mw-search-input {
	// Unset UserAgent's font-family for consistent sizing with the rest of the header.
	// UserAgents set a platform-specific font for <input> elements that might differ from the body font.
	font-family: inherit;
}

/* Universal Language Selector */
#pt-uls .uls-trigger {
	// Unset the !important rule inherited from core to align vertically with menu items.
	padding-top: 0 !important; // stylelint-disable-line declaration-no-important
}

/* Personal menu */
#p-personal {
	float: right; // Non-flexbox fallback for IE<=9. No vertical centering with float.
	margin-left: auto; // Right justify the container.
	padding-left: 1em;
	// Baseline alignment between Searchbox and Personal menu.
	padding-top: unit( 3px / @font-size-browser, em );

	ul {
		.flex-display();
		.flex-wrap();
		.justify-content( flex-end ); // Right justify the children: IE>=11
		text-align: right; // Right align the second row.

		> li {
			// Restore left align. Right align conflicts with hiding speech-only text on notification icons.
			text-align: left;
		}

		li {
			// Higher specificity to override inherited rule.
			// FIXME: avoid using padding to position PersonalMenu items.
			padding-top: 0; // Unset `padding-top: 0.5em;` inherited from legacy.
		}
	}

	li {
		display: inline-block;
		// Reset `margin-bottom` from general `li` element.
		margin-bottom: 0;
		line-height: 1.5em; // User icon alignment depends on this. Related: T207075.
	}

	.skin-vector-new-search & {
		padding-left: 0;

		@media ( max-width: @max-width-header--medium ) {
			width: 100%; // Break into second row on medium width screen.
			margin: @margin-vertical-nav-personal--medium 0;
			float: none;
		}

		li {
			margin-left: 0.75em;
		}
	}

	#pt-notifications-alert,
	#pt-notifications-notice {
		margin-right: 0;

		.mw-echo-notifications-badge {
			// Adjust `top: -5px;` rule inherited from legacy and Echo.
			top: -2px; // Eyeballed magic number.
			margin: 0; // Unset inherited `margin: 0 2px;`.
		}
	}
}

/* Main column */
.mw-body,
#mw-data-after-content,
.mw-article-toolbar-container,
.mw-footer {
	margin-left: @width-grid-column-one;
}

/* Content */
.mw-indicators {
	float: right;
	z-index: @z-index-indicators;
}

.mw-body-content {
	position: relative;
	z-index: @z-index-base;
}

/* Hide, but keep accessible for screen-readers */
#mw-navigation h2 {
	position: absolute;
	top: -9999px;
}

/* Tabs */
// #mw-head,
.mw-article-toolbar-container {
	position: absolute;
	left: 0;
	right: 0;
	top: @height-header--wide;  // Below the header.

	.skin-vector-new-search & {
		@media ( max-width: @max-width-header--medium ) {
			top: @height-header--medium;
		}

		@media ( max-width: @max-width-header--narrow ) {
			top: @height-header--narrow;
		}
	}
}

#left-navigation {
	float: left;
}

#right-navigation {
	float: right;
}

/* Sidebar */
#mw-panel {
	position: absolute;
	// The sidebar is absolutely positioned inside the header which applies a top
	// margin so we need to subtract this top margin in order to get the correct
	// sidebar position.
	z-index: @z-index-sidebar;
	.box-sizing( border-box );
	margin-top: @margin-top-sidebar;
	padding-left: @padding-left-sidebar;
	width: @width-grid-column-one;
	left: 0;
	top: @height-header--wide;
}

.skin-vector-new-search #mw-panel {
	@media ( max-width: @max-width-header--medium ) {
		top: @height-header--medium;
	}

	@media ( max-width: @max-width-header--narrow ) {
		top: @height-header--narrow;
	}
}

/* Footer */
.mw-footer {
	margin-top: 0;
}
