// Layout rules divide the page into sections and how VectorComponents should be arranged in the skin.
// The rules here should only define the layout, not color or typography.
// CSS is ordered in terms of visual position from the top of the article.

@import '../vector.variables.less';
@import 'mediawiki.mixins.less';
@import 'mediawiki.mixins.flex-align.less';

// Modern layout variables
@css-selector-sidebar: ~'.mw-header .mw-sidebar';
@css-selector-article-toolbar: ~'.mw-workspace-container .mw-article-toolbar';
@css-selector-content-container: ~'.mw-workspace-container .mw-content-container';
// Note: there's one selector in 'skin.json' too, keep in sync:
// "#mw-sidebar-checkbox:not( :checked ) ~ .mw-header #mw-sidebar-button:before"

// Header sizes defined in the description of T246170 and comment T246170#5957100
//@padding-horizontal-header: unit( 30px / @font-size-root--px, em ); // 30/16 = 1.875em
@padding-horizontal-header: @padding-left-sidebar + @padding-left-portal; // 0.5em + 1.2em = 1.7em -> 27.2px
@padding-top-header: 0.625em;
@padding-bottom-header: 0.3125em;
@height-header--inner: 3.375em; // Logo sizes per specification in T245190.
@height-header--wide: @height-header--inner + @padding-top-header + @padding-bottom-header; // 4.3125em
// Space for personal menu row.
@height-header-row: 2em;
@height-header--medium: @height-header--inner + 2 * @padding-top-header + @height-header-row; // 6.625em
// Space for SearchBox + personal menu row + menu items optionally wrapping.
@height-header--narrow: @height-header--medium + @height-header-row + 0.5em; // 9.125em
@height-header--micro: @height-header--narrow + @height-header-row; // 11.125em
@max-width-header--medium: unit( 1100px / @font-size-root--px, em ); // 2 rows in header: logo + usermenu, search + uls.
@max-width-header--narrow: unit( 850px / @font-size-root--px, em ); // 3 rows in header: logo, uls + usermenu, search.
@max-width-header--micro: unit( 600px / @font-size-root--px, em ); // 4 rows in header: logo, usermenu, uls, search.
@max-width-sidebar-overlay: @max-width-header--micro;
@margin-horizontal-search: unit( 40px / @font-size-root--px, em ); // 40/16 = 2.5em
@margin-vertical-search: unit( 8px / @font-size-root--px, em ); // 8/16 = 0.5em

// Font sizes
@font-size-logo--px: @font-size-root--px;
@size-personal-menu-icon--px: 20px;
@size-personal-menu-icon: unit( @size-personal-menu-icon--px / @font-size-nav-personal--px, em ); // 20/13 = 1.53846154em

// Colors
@border-color-sidebar--gradient: #f6f6f6;
@border-width-base: unit( 1px / @font-size-root--px, em ); // 1/16 = 0.0625em

body {
	// General background/foreground color definition as one exception to the rule.
	background-color: @background-color-base;
	color: @color-base;
	// Vertical scrollbar always visible.
	overflow-y: scroll;
}

.mw-page-container {
	// Used as a container for absolutely positioned elements.
	position: relative;
}

.mw-body,
.parsoid-body {
	direction: ltr;
	padding: @padding-content;
}

.mw-body {
	// Will be removed when we limit content width (T246420).
	/* Border on top, left, and bottom side */
	border: @border-width-base @border-style-base @border-color-content;
	border-right-width: 0;
	/* Merge the border with tabs' one (in their background image) */
	margin-top: -@border-width-base;

	.firstHeading {
		/* Change the default from mediawiki.skinning CSS to let indicators float into heading area */
		overflow: visible;
	}
}

/* Space for header above content */
.mixin-header-space( @property ) {
	// Reserve space for the absolute positioned header and tabs.
	@{property}: @height-header--wide;

	.skin-vector-new-search & {
		@media ( max-width: @max-width-header--medium ) {
			@{property}: @height-header--medium; // Space for personal menu row.
		}

		@media ( max-width: @max-width-header--narrow ) {
			@{property}: @height-header--narrow; // Space for SearchBox + personal menu row.
		}

		@media ( max-width: @max-width-header--micro ) {
			@{property}: @height-header--micro; // Space for +1 row.
		}
	}
}

.mw-header-placeholder {
	// Space for header.
	.mixin-header-space( height );
	// Space for article toolbar.
	margin-bottom: @height-article-toolbar;
}

.mw-sidebar-container,
.mw-article-toolbar {
	.mixin-header-space( top );
}

/* Header layout */
.mw-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	// A `min-height` is set to account for projects where no icon is set.
	min-height: @height-header--inner;
	padding: @padding-top-header @padding-horizontal-header @padding-bottom-header;
	// Vertical centering of header elements (IE>=11), requires flex.
	// Support IE9 with: `inline-block` rule on child elements and `float: right` on Personal menu.
	.mixin-clearfix(); // Close float flow.
	z-index: @z-index-header;

	.skin-vector-new-search & {
		.justify-content( center ); // Medium: Searchbox and ULS nicely centered.

		@media ( max-width: @max-width-header--medium ) {
			.flex-wrap();
			padding-bottom: @padding-top-header;
		}

		@media ( max-width: @max-width-header--medium ) {
			&:before {
				content: '';
				.flex-order( 2 );
				// Line break before .mw-search
				width: 100%;
				height: 0;
			}
		}

		@media ( max-width: @max-width-header--micro ) {
			.justify-content( flex-end ); // Micro: stick ULS and personal menu to right edge.
		}
	}

	> label,
	> nav,
	> div {
		// Non-flex fallback for IE<=9.
		display: inline-block;
		vertical-align: middle;
	}
}

// Header elements using flexbox layout.
.menu-personal > .vector-menu-content-list,
.mw-header {
	.flex-display();
	.align-items( center ); // Supports: IE11.
	// IE<=10 will position the personal menu icons ca. 3px higher.
}

/* Logo */
.skin-vector-new-search .mw-logo {
	@media ( max-width: @max-width-header--medium ) {
		margin-right: auto;
	}
}

/* Searchbox */
body:not( .skin-vector-new-search ) .mw-search {
	// :not support: IE9+
	float: left;
	margin: 0.5em 0.5em 0 0.5em;
	min-width: 5em;
	// Support: IE 8, Firefox 18-, Chrome 19-, Safari 5.1-, Opera 19-, Android 4.4.4-.
	width: 13.2em;
	// Support: Modern browsers, responsive width.
	width: 20vw;
	max-width: 20em;
}

/* SearchBox in header */
.skin-vector-new-search .mw-search {
	padding: 0 @margin-horizontal-search;
	// margin-left: auto; // Horizontal centering on wide viewport.

	// Take up as much space as possible and shrink if necessary.
	.flex-size( 1, 1 );
	min-width: unit( 200px / @font-size-root--px, em );  // Flex min size.
	max-width: unit( 580px / @font-size-root--px, em );  // Flex max size.

	@media ( max-width: @max-width-header--medium ) {
		.flex-order( 2 );
		min-width: unit( 100px / @font-size-root--px, em ); // Don't wrap into 3 rows at <725px.
		padding: 0;
		margin-left: 0;
		margin-top: @margin-vertical-search;
	}

	> form {
		// The form element should use all the space.
		width: 100%;
	}
}

// The input element
.mw-search-input {
	// Unset UserAgent's font-family for consistent sizing with the rest of the header.
	// UserAgents set a platform-specific font for <input> elements that might differ from the body font.
	font-family: inherit;
}

/* Universal Language Selector */
#pt-uls {
	display: inline-block;

	.skin-vector-new-search & {
		margin-right: @margin-horizontal-search;

		@media ( max-width: @max-width-header--medium ) {
			.flex-order( 2 );
			padding-left: @margin-horizontal-search;
			margin-top: @margin-vertical-search;
			margin-right: 0;
		}

		@media ( max-width: @max-width-header--micro ) {
			.flex-order( 0 );
			padding-left: 0;
		}
	}
}

/* Personal menu */
.menu-personal {
	float: right; // Non-flexbox fallback for IE<=9. No vertical centering with float.
	margin-left: auto; // Right justify the container.
	padding-left: 1em;

	.skin-vector-new-search & {
		padding-left: 0;

		@media ( max-width: @max-width-header--medium ) {
			//padding-left: @margin-horizontal-search;
			padding-left: 1em;
		}

		@media ( max-width: @max-width-header--narrow ) {
			margin-top: @margin-vertical-search;
		}

		@media ( max-width: @max-width-header--micro ) {
			margin-left: 0;
		}
	}

	.vector-menu-content-list {
 		.flex-wrap();
 		.justify-content( flex-end ); // Move Notifications, PersonalMenu to the right: IE>=11
		text-align: right; // Right align the second row.

		> li {
			// Restore left align. Right align conflicts with hiding speech-only text on notification icons.
			text-align: left;
		}
	}
}

/* Content */
.mw-body-content {
	position: relative;
	z-index: @z-index-base;
}

.mw-indicators {
	float: right;
	z-index: @z-index-indicators;
}

/* Sidebar */
.mw-sidebar-anchor {
	position: absolute;
	left: 0;
	top: 0;
	//bottom: 0; // Stick to bottom of header.
	max-height: 0;
}

.mw-sidebar-container {
	position: absolute; // Avoid .mw-sidebar-anchor gaining height and covering the content.
	left: 0;
	overflow-x: hidden;  // Hide the part that's sliding out when animated.
}

.mw-sidebar {
	position: relative;
	z-index: @z-index-sidebar;
	padding-top: @padding-top-sidebar;
	padding-bottom: 3 * @padding-top-sidebar;
	padding-left: @padding-left-sidebar;
	border-radius: 0.5em;
	.box-sizing( border-box );

	@media ( min-resolution: 100dpi ) {
		li {
			line-height: 2;
		}
	}

	body:not( .mw-page-container ) & {
		//.transition( none ); // Disable with full-width layout.
		background-color: @background-color-base;
		background-color: #fff5e5;
		background-color: #fcf5f0;
		background-image: linear-gradient( to bottom, #ffffff 0%, #fcf5f0 10%, #fcf5f0 90%, #ffffff 100% );
	}
}

.mw-sidebar-navigation {
	width: @width-sidebar-navigation;
}

/* Sidebar state */
#mw-sidebar-checkbox:not( :checked ) {
	 ~ @{css-selector-sidebar} {
		// Turn off presentation so that screen readers get the same effect as visually hiding.
		// Visibility and opacity can be animated. If animation is unnecessary, use `display: none`
		// instead to avoid hidden rendering.
		visibility: hidden;
		opacity: 0;
		.transform( translateX( -50% ) );
	}
}

body:not( .mw-page-container ) #mw-sidebar-checkbox:checked {
	~ @{css-selector-article-toolbar},
	~ @{css-selector-content-container} {
		// Adjust the content and the toolbar on medium and wide viewport when the sidebar is open.
		margin-left: @width-sidebar-navigation;
	}
}

@media ( max-width: @max-width-sidebar-overlay ) {
	// On narrow viewport show the sidebar over the content.
	// Dupliciate class selector to override the `&.ns-special` rules with precedence.
	#mw-sidebar-checkbox#mw-sidebar-checkbox:checked {
		~ @{css-selector-article-toolbar},
		~ @{css-selector-content-container} {
			margin-left: 0;
		}
	}

	.mw-sidebar-container {
		overflow-x: visible;
	}

	.mw-sidebar {
		padding-bottom: 2 * @padding-top-sidebar;
		box-shadow: 1em 3em 5em -1.5em #888;
		border-radius: 6 * @border-width-base;
		// border: solid 0 @border-color-sidebar--gradient;
		// border-right-width: 2 * @border-width-base;
		// border-bottom-width: 2 * @border-width-base;
		// Restore animation.
		@duration: @transition-duration-base * 2 ease-out;
		.transition( all @duration );
	}
}

/* Article toolbar */
.mw-article-toolbar {
	position: absolute;
	// top defined above with mixin-header-space()
	left: 0;
	right: 0;
}

#left-navigation {
	float: left;
}

#right-navigation {
	float: right;
}

/* Hide element, but read with screen reader */
.mw-article-toolbar h2,
.screen-reader-only {
	position: absolute;
	top: -9999px;
}

/* Footer */
.mw-footer {
	margin-top: 0;
}
