@import '../variables.less';
@import 'mediawiki.mixins.less';

// Putting a `skin-vector-max-width` class on the body and wrapping the rules
// herein enables the ability to feature flag the max-width design. This is
// listed in the acceptance criteria of T246420. In other words, if this class
// is present, the max-width design will appear. Without this class, max-width
// design will not appear. In either case, the appearance should not be broken.
.mw-page-container {
	@max-width-page-container: unit( 1650px / @font-size-root--px, em ) + 2 * @padding-horizontal-page-container; // 103.125em + 2*1.875em = 106.875em -> 1710px
	//@min-width-page-container: unit( 600px  / @font-size-root--px, em ); // 31.25em

	// Workspace and content container
	@max-width-workspace-container: unit( 1440px / @font-size-root--px, em ); // 90em -> 1440px
	@min-width-content-centered: @max-width-workspace-container; // 90em -> 1440px
	@max-width-content-container: unit( 960px  / @font-size-root--px, em ); // 60em -> 960px
	@max-width-narrow-padding: unit( 600px / @font-size-root--px, em ); // 37.5em -> 600px

	//@padding-horizontal-page-container: unit( 30px / @font-size-root--px, em ); // 1.875em -> 30px
	@padding-horizontal-page-container: @padding-horizontal-header; // 1.7em -> 27.2px

	// TODO: Remove @padding-content in variables.less when the max-width layout
	// becomes the default layout since the value is different between legacy and
	// latest.
	@padding-content: 1.25em 0.5em 1.5em 0.5em;

	// Style overrides for existing elements. Mostly overrides layout.less rules.
	@background-color-page-container: @background-color-base;
	background-color: @background-color-secondary--modern;

	.mw-body {
		border-left: 0;
		border-bottom: 0;
		padding: @padding-content;
	}

	.parsoid-body {
		padding: @padding-content;
	}

	.mw-body,
	#mw-data-after-content,
	.mw-footer {
		margin-left: 0;
	}

	html:not( .skin-vector-new-search )& .mw-search {
		margin-right: 0;
	}

	#p-namespaces {
		background-image: none;
		padding-left: 0;
	}

	.mw-sidebar {
		background-image: linear-gradient( to bottom, @background-color-base 0%, @background-color-secondary--modern 10% 90%, @background-color-base 100% );

		// Enable sidebar animation on all widths by default.
		@timing: @transition-duration-base * 2 ease-out; // 200ms
		.transition( transform @timing, opacity @timing, visibility @timing; );
		.transition-reduced();
	}

	.mw-footer {
		border-top: @border-base;
		padding: 32px 0 0 0;
	}

	// Container logic.
	& {
		//min-width: @min-width-page-container;
		max-width: @max-width-page-container;
		// Fill the viewport even if the content height is small. This also helps
		// mitigate a long sidebar overflowing the page container (T257518).
		min-height: 100%;
		margin: 0 auto;
		background-color: @background-color-page-container;
	}

	.mw-header {
		max-width: @max-width-page-container;
		margin: 0 auto;
	}

	.mw-workspace-container {
		max-width: @max-width-workspace-container;
		margin: 0 auto;
	}

	.mw-content-container {
		// We want to keep the max-width of the article-toolbar-container the
		// same max-width as the article page's content container in order to
		// prevent it from moving when going from an article page to a
		// history/special page.
		max-width: @max-width-content-container;
		flex-grow: 1; // Fill up the space otherwise special pages are very thin.
		//margin-left: auto;
		margin-right: auto;
		@padding: @padding-horizontal-page-container;
		padding-left: @padding;
		padding-right: @padding;

		// Small padding on narrow viewport.
		@media ( max-width: @max-width-narrow-padding ) {
			padding-left: @padding / 2;
			padding-right: @padding / 2;
		}
	}

	.mw-footer-container {
		padding-top: 50px;
		padding-bottom: 82px;
	}

	// Wide layout, special pages, history pages.
	&.wide,
	&.action-history,
	&.ns-special {
		// Allow the max-width of content on history/special pages to be wider than
		// the max-width of content on article pages.
		.mw-content-container {
			// The parent .mw-workspace-container also sets this limit.
			max-width: @max-width-workspace-container;
		}

		/*
		.mw-sidebar {
			// Same specificity as `.vector-animations-ready &`, but later in order.
			// Remove sidebar transition in wide workspace.
			.transition( none );
		}
		*/

		@media ( min-width: @min-width-content-centered ) {
			.mw-sidebar-container {
				position: relative; // Sidebar not overlayed.
			}

			.mw-article-toolbar {
				//margin-left: -@max-width-sidebar;
				position: absolute;
				width: 100%;
				max-width: 60em;
				margin: 0 auto;
				left: 0;
				right: 0;
				//padding: 0 ( ( @max-width-workspace-container - @max-width-content-container ) / 2 );
				margin-top: 1px; // Merge the bottom border with the 1px top border on content.
			}

			.mw-body {
				margin-top: @height-article-toolbar;
			}
		}
	}

	#mw-sidebar-checkbox:not( :checked ) {
		~ @{css-selector-content-container} {
			margin-left: auto; // Center the content when the sidebar is hidden.
		}
		@media ( max-width: @min-width-content-centered ) {
			~ @{css-selector-sidebar} {
				transition-duration: @transition-duration-base; // Hide faster: 100ms vs 200ms.
				// No prefix needed for supported browsers.
			}
		}
	}

	// No animation when sidebar is overlayed. 35em -> 560px
	@media ( max-width: @max-width-sidebar-overlay ) {
		#mw-sidebar-checkbox:not( :checked ) {
			display: none;
		}

		/*
		.mw-sidebar.mw-sidebar {
			// Same specificity as `.vector-animations-ready &`, but later in order.
			// Remove sidebar transition at smaller widths.
			.transition( none );
		}
		*/
	}

	@media ( min-width: @min-width-content-centered ) {
		.mw-content-container {
			margin-left: auto; // Center the content on wide screen (when there is plenty of space).
		}

		.mw-sidebar-container {
			// Sidebar is removed from the content flow for the content centering to work.
			// This overrides the absolute rule when checkbox is unchecked.
			position: fixed !important; /* stylelint-disable-line declaration-no-important */
			height: 100vh; // For scrolling sidebar. padding-top saves space for header.
			//left: calc( 50vw ~'-' @max-width-workspace-container / 2 ); // 50% - 90em/2
			overflow-x: hidden; // Clip sidebar sliding out to the left.
		}

		.mw-sidebar {
			// Subtle sidebar border on wide viewport. 93.75em -> 1500px
			background: @background-color-page-container;
			@color-end: @background-color-base;
			@color-middle: @border-color-sidebar;
			@percent-gradient: 20%;
			border-image: linear-gradient( to bottom, @color-end 0%, @color-middle @percent-gradient ( 100% - @percent-gradient ), @color-end 100% ) 1 100%;
			border-right: @border-width-base solid @border-color-sidebar;
		}
	}

	// Page border on very wide viewport. 106.875em -> 1710px
	@media ( min-width: @max-width-page-container ) {
		box-shadow: 0 0 2em 0em @box-shadow-color;
	}
}
