// Layout rules divide the page into sections and how VectorComponents should be arranged in the skin.
// The rules here should only define the layout, not color or typography.
// CSS is ordered in terms of visual position from the top of the article.

@import '../../variables.less';
@import 'mediawiki.mixins.less';
@import 'mediawiki.mixins.flex-align.less';

// Modern layout variables
@height-tabs: 2.5em; // Keep in sync with .vector-menu-tabs height.
@margin-top-sidebar: 0.5em;

// Header sizes defined in the description of T246170 and comment T246170#5957100
@padding-left-sidebar: 0.5em;
@padding-horizontal-header: @margin-end-portal +
	@padding-left-sidebar +
	( @margin-start-nav-main-body / @font-size-nav-main-heading );
@padding-top-header: 0.625em;
@padding-bottom-header: 0.3125em;
@height-logo-icon: 3.125em;
@height-header--inner: 3.375em; // Logo sizes per specification in T245190.
@height-header: @height-header--inner + @padding-top-header + @padding-bottom-header;
@width-grid-column-one: 11em;

body {
	// General background/foreground color definition as one exception to the rule.
	background-color: @background-color-base;
	color: @color-base;
	// Vertical scrollbar always visible.
	overflow-y: scroll;
}

.mw-body,
.parsoid-body {
	direction: ltr;
	padding: @padding-content;
}

.mw-body {
	// Will be removed when we limit content width (T246420).
	/* Border on top, left, and bottom side */
	border: @border-width-base @border-style-base @border-color-content;
	border-right-width: 0;
	/* Merge the border with tabs' one (in their background image) */
	margin-top: -@border-width-base;

	.firstHeading {
		/* Change the default from mediawiki.skinning CSS to let indicators float into heading area */
		overflow: visible;
	}
}

/* Space for header above content */
.mw-header-placeholder {
	// Reserve space for the absolute positioned header and tabs.
	height: @height-header + @height-tabs;
}

/* Header layout */
.mw-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	// A `min-height` is set to account for projects where no icon is set.
	min-height: @height-header--inner;
	padding: @padding-top-header @padding-horizontal-header @padding-bottom-header;
	// Vertical centering of header elements (IE>=11), requires flex.
	// Support IE9 with: `inline-block` rule on child elements and `float: right` on Personal menu.
	.mixin-clearfix(); // Close float flow.
	z-index: @z-index-header;

	> label,
	> nav,
	> div {
		// Non-flex fallback for IE<=9.
		display: inline-block;
		vertical-align: middle;
	}
}

// Header elements using flexbox layout.
#p-personal > .vector-menu-content-list,
.mw-header {
	.flex-display();
	.align-items( center ); // Supports: IE11.
	// IE<=10 will position the personal menu icons ca. 3px higher.
}

/* Searchbox */
#p-search {
	float: left;
	margin: 0.5em 0.5em 0 0.5em;
	min-width: 5em;
	// Support: IE 8, Firefox 18-, Chrome 19-, Safari 5.1-, Opera 19-, Android 4.4.4-.
	width: 13.2em;
	// Support: Modern browsers, responsive width.
	width: 20vw;
	max-width: 20em;
}

/* Personal menu */
#p-personal {
	float: right; // Non-flexbox fallback for IE<=9. No vertical centering with float.
	margin-left: auto; // Right justify the container.
	padding-left: 1em;

	.vector-menu-content-list {
 		.flex-wrap();
 		.justify-content( flex-end ); // Move Notifications, PersonalMenu to the right: IE>=11
		text-align: right; // Right align the second row.

		> li {
			// Restore left align. Right align conflicts with hiding speech-only text on notification icons.
			text-align: left;
		}
	}
}

/* Main column */
.mw-body,
#mw-data-after-content,
#left-navigation,
.mw-footer {
	margin-left: @width-grid-column-one;
}

/* Content */
.mw-body-content {
	position: relative;
	z-index: @z-index-base;
}

.mw-indicators {
	float: right;
	z-index: @z-index-indicators;
}

/* Article toolbar */
#mw-head {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}

#left-navigation {
	float: left;
	margin-top: @height-header;
	/* When right nav would overlap left nav, it's placed below it
	(normal CSS floats behavior). This rule ensures that no empty space
	is shown between them due to right nav's margin-top. Page layout
	is still broken, but at least the nav overlaps only the page title
	instead of half the content. */
	margin-bottom: -@height-header;
}

#right-navigation {
	float: right;
	margin-top: @height-header;
}

/* Hide element, but read with screen reader */
#mw-navigation h2 {
	position: absolute;
	top: -9999px;
}

/* Sidebar */
#mw-panel {
	position: absolute;
	top: @height-header;
	left: 0;
	width: @width-grid-column-one;
	.box-sizing( border-box );
	margin-top: @margin-top-sidebar;
	padding-left: @padding-left-sidebar;
	z-index: @z-index-sidebar;
}

/* Footer */
.mw-footer {
	margin-top: 0;
}
