@import '../../variables.less';
@import 'mediawiki.mixins.less';

/* Personal menu */
#p-personal,
.menu-personal {
	> ul {
		li {
			// Higher specificity to override inherited rule.
			// FIXME: avoid using padding to position PersonalMenu items.
			padding-top: 0; // Unset `padding-top: 0.5em;` inherited from legacy.
		}
	}

	li {
		display: inline-block;
		// Reset `margin-bottom` from general `li` element.
		margin-bottom: 0;
		line-height: 1.5em; // User icon alignment depends on this. Related: T207075.
	}

	/* Echo notification icons */
	#pt-notifications-alert,
	#pt-notifications-notice {
		margin-right: 0;

		.mw-echo-notifications-badge {
			// Adjust `top: -5px;` rule inherited from legacy and Echo.
			top: -2px; // Eyeballed magic number.
			margin: 0; // Unset inherited `margin: 0 2px;`.
		}
	}
}

/* User page link icon */
#pt-anonuserpage:before,
#pt-userpage a:before {
	content: '';
	display: inline-block;
	width: @size-personal-icon; // Equals `1.16666667em`.
	height: @size-personal-icon;
	// SVG support using a transparent gradient to guarantee cross-browser
	// compatibility (browsers able to understand gradient syntax support also SVG)
	.background-image-svg( 'images/user-avatar.svg', 'images/user-avatar.png' );
	background-repeat: no-repeat;
	background-size: 100%;

	// Move down as much as the border width in the SVG.
	// There's a 1px (in 20px full height) transparent border
	// inside the SVG that would misalign the icon and the text.
	margin-bottom: -@size-personal-icon / 20; // -0.05833333em.

	// Margin between the button icon and text: 2 / 16 / (12/16) = 0.16666667em.
	margin-right: unit( 2px / @font-size-browser / @font-size-nav-main-heading, em );
}
