@import '../vector.variables.less';
@import 'mediawiki.mixins.less';

/* Hide empty portlets */
// This class is added/removed to a dropdown menu ("More menu")
// when that becomes empty/non-empty.
// It is also removed by mw.util.addPortletLink()
// in core:resources/src/mediawiki.util/util.js
// Also see T253912.
.emptyPortlet {
	display: none;
}

/* All menus: tabs, dropdown (More), portal (sidebar), personal (User menu) */
.vector-menu {
	ul {
		list-style: none none;
		margin: 0;
	}
}

// h3 hidden in tabs and personal menu
.vector-menu__label {
	display: none;
}

/* Personal menu */
.menu-personal {
	li {
		margin-left: 0.75em;
	}
}

#pt-userpage {
	a {
		display: inline-block;
	}
}

/* Show anonymous "Not logged in" text in gray */
#pt-anonuserpage {
	color: #54595d;
}
