@import '../variables.less';
@import 'mediawiki.mixins.less';

@background-color-menu: #fcfcfc;

/* Personal menu */
.menu-personal {
	font-size: @font-size-nav-personal; // NOTE: Moved up from legacy `#personal li`.
	line-height: @line-height-nav-personal;

	> .vector-menu--list {
		// Only the tray icons, not the submenuitems on dropdowns.
		> li {
			position: relative;  // Context for the dropdowns.
			display: inline-block; // Line up menu items.
			vertical-align: middle;
			margin-bottom: 0;
			padding: 0 unit( 5px / @font-size-nav-personal--px, em );
		}
	}

	li {
		// Reset `margin-bottom` from general `li` element.
		margin-bottom: 0;
	}

	/* Any icon in personal menu */
	.mw-ui-icon:before {
		width: @size-personal-menu-icon;
		height: @size-personal-menu-icon;
	}

	/* User dropdown menu's icon */
	.menu-user > .vector-menu--button.mw-ui-icon:before {
		// Make user icon on the dropdown a bit less dominant.
		background-size: 80%;
		background-position-y: unit( 1px / @font-size-nav-personal--px, em ); // 1/13 = 0.07692308em
	}

	/* Any dropdown menu */
	.vector-menu-dropdown {
		// Menu button
		> .vector-menu--button {
			padding: 0.3em 0.2em 0.2em 0.2em;
			margin-bottom: 0;
			border: @border-width-base @border-style-base @colorGray10;
			border-radius: 2px;
			font-size: inherit;
			//vertical-align: middle;

			// Down arrow
			&:after {
				// margin-right: 0.2em;
			}
		}

		// Dropdown menu list
		.vector-menu--list {
			// Selector must be more specific than `.vector-menu-dropdown` to override some rules.
			//top: 100%;
			left: auto; // `initial` with compatibility.
			right: 0;
			border-top-width: 1px;
			border-radius: 2px;
			// background-color: @background-color-menu;
			box-shadow: @box-shadow-menu-popup;
		}

		// Dropdown menu items
		li {
			// Unset inherited `1em`.
			line-height: inherit;

			> span,
			a {
				font-size: inherit;
				padding: unit( 10px / @font-size-nav-personal--px, em ); // 10/13 = 0.76923077em
			}
		}
	}
}

// Use element ID to override inherited rules with precedence.
#p-personal {
	/* Echo notification icons */
	#pt-notifications-alert,
	#pt-notifications-notice {
		margin-right: 0;

		.mw-echo-notifications-badge {
			// Adjust `top: -5px;` rule inherited from legacy and Echo.
			top: 0; // Fix positioning of #pt-notifications-alert .mw-echo-notifications-badge:focus, #pt-notifications-notice .mw-echo-notifications-badge:focus
			margin: 0; // Unset inherited `margin: 0 2px;`.
			// Override with precedence.
			width: @size-personal-menu-icon;
			height: @size-personal-menu-icon;
			background-repeat: no-repeat;
			background-size: 100%;

			&:focus {
				box-shadow: none;
				.mixin-focus-outline();
			}
		}
	}
}

// Echo popup styling similar to Personal menu.
div.oo-ui-popupWidget-popup {
	.vertical-gradient( @background-color-base, @background-color-secondary, 0%, 10% );
	box-shadow: @box-shadow-menu-popup;
	border: 0;
}

div.mw-echo-ui-placeholderItemWidget {
	background-color: transparent;
}
