@import '../variables.less';
@import 'mediawiki.mixins.less';

/* Hide empty portlets */
// This class is added/removed to a dropdown menu ("More menu")
// when that becomes empty/non-empty.
// It is also removed by mw.util.addPortletLink()
// in core:resources/src/mediawiki.util/util.js
// Also see T253912.
.emptyPortlet {
	display: none;
}

/* All menus: tabs, dropdown (More), portal (sidebar), personal (User menu) */
.vector-menu {
	ul {
		list-style: none none;
		margin: 0;
	}
}

// h3 hidden in tabs and personal menu
.vector-menu--label {
	display: none;
}

/* Any menu icons */
.mw-ui-icon:before {
	display: inline-block;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: @opacity-menu-icon--unfocused; // 51% opaque similar to Echo icons.
	content: ''; // FIXME: Move to ResourceLoaderImageModule.getCssDeclarations()
}

.mw-ui-icon:focus:before {
	// Highlight icon of focused menu item.
	opacity: 1;
}

.vector-animations-ready {
	.mw-ui-icon:before,
	.mw-ui-icon:after,
	.mw-ui-icon {
		// Enable button transitions.
		@timing: @transition-duration-base linear;
		.transition( opacity @timing );
	}
}

/* Show anonymous "Not logged in" text in gray */
#pt-anonuserpage {
	color: #54595d;
}
