@import '../../variables.less';

/* User page link icon */
#pt-anonuserpage,
#pt-userpage a {
	// SVG support using a transparent gradient to guarantee cross-browser
	// compatibility (browsers able to understand gradient syntax support also SVG)
	.background-image-svg( 'images/user-avatar.svg', 'images/user-avatar.png' );
	background-position: left 0;
	background-repeat: no-repeat;
	background-size: @size-personal-icon @size-personal-icon;
	padding-left: unit( 1 / @font-size-nav-personal, em ); // 1.33333333em
}
