@import '../vector.variables.less';
@import 'mediawiki.mixins.less';
@import 'mediawiki.mixins.focus.less';

/* Variants and Actions */
.vector-menu-dropdown {
	direction: ltr;
	float: left;
	cursor: pointer;
	position: relative;
	//line-height: 1.125em;

	// FIXME: overqualified selector.
	// The structure of this file is a mess to retain git history and avoid massive manual merges.
	.vector-menu--button {
		color: @color-base--subtle;
		position: relative;
		display: block;
		.box-sizing( border-box );
		padding: 0 unit( 8px / @font-size-tabs--px, em ); // 8/13 = 0.61538462em
		// `padding-top` needs to scale with font-size.
		padding-top: 1.25em;
		// Note: a gradient border on the right is created with background, necessitating >=1px padding-right.
		font-size: @font-size-tabs;
		font-weight: normal;
		white-space: nowrap;
		cursor: pointer;

		// Down arrow
		&:after {
			content: '';
			background-image: url( images/arrow-down.svg );
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center;
			display: inline-block;
			vertical-align: middle;
			width: 1em;
			height: 1em;
			transition: transform 2 * @transition-duration-base;
		}

		&:hover,
		&:focus {
			color: @color-base;
		}
	}

	// The menu itself.
	.vector-menu--list {
		position: absolute;
		top: 100%; // Move down with tab height.
		// Match the width of the dropdown "heading" (the tab)
		min-width: 100%;
		background-color: @background-color-base;
		border: @border-width-base @border-style-base @border-color-base;
		border-top-width: 0;
		padding: 0;
		box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
		text-align: left;

		// Hidden by default.
		opacity: 0;
		visibility: hidden;
		transform: translateY( -1em ); // Slide-in effect.

		// Fade and slide in.
		@timing: 1.5 * @transition-duration-base;
		.transition( all @timing );
		z-index: @z-index-menu;
	}

	// Magnify down arrow when pinned.
	.vector-menu--checkbox:checked ~ .vector-menu--button:after {
		.transform( scale( 1.3 ) translateY( 0.05em ) );
	}

	// Visible when pinned or hovering with mouse or menu item focused.
	.vector-menu--checkbox:checked ~ .vector-menu--list,
	&:hover .vector-menu--list,
	.vector-menu--list:focus-within {
		// No IE support for :focus-within.
		opacity: 1;
		visibility: visible;
		transform: translateY( 0 );
	}

	li {
		padding: 0;
		margin: 0;
		text-align: left;
		line-height: 1em; // 16px

		> span,
		a {
			color: @color-link;
			display: block;
			//padding: 0.625em; // 8.125px
			padding: unit( 8px / @font-size-tabs--px, em ); // 8/13 = 0.61538462em
			white-space: nowrap;
			cursor: pointer;
			font-size: @font-size-tabs;
		}
	}

	.selected a,
	.selected a:visited {
		color: @color-link-selected;
		text-decoration: none;
	}
}

.mw-article-toolbar .vector-menu-dropdown {
	.vector-menu--list {
		// Only in modern layout the dropdown menu grows to the left.
		right: -@border-width-base; // Adapt to the border simulated with background.

		.skin-vector-legacy & {
			// Grow to the right.
			left: -@border-width-base;
			right: auto;
		}
	}
}

.mw-article-toolbar .vector-menu-dropdown .vector-menu--button {
	// Tab separator: Outer end (right in LTR) border of "Actions" menu.
	background-position: right bottom;
	float: left;
	height: unit( 40px / @font-size-tabs--px, em ); // 40/13 = 3.07692308em
	margin: 0 -@border-width-base 0 0;
}

// Tab Separators
// `.vectorTabs`: Outer start border (left in LTR) of tab row.
// `.vectorTabs a`: Border between tabs and outer end (right in LTR) border.
// `.mw-article-toolbar .vector-menu-dropdown .vector-menu--button`: // Outer end (right in LTR) border of "Actions" menu.
.vector-menu-tabs,
.vector-menu-tabs a,
.mw-article-toolbar .vector-menu-dropdown .vector-menu--button {
	background-image: url( images/tab-separator.png );
	background-image: linear-gradient( to bottom, rgba( 167, 215, 249, 0 ) 0, @border-color-content 100% );
	background-repeat: no-repeat;
	// Contain gradient to 1px × 100% size and draw from top to bottom-left or -right corner.
	background-size: @border-width-base 100%;
}

// Invisible checkbox covering the dropdown menu handle
.vector-menu--checkbox {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;

	.menu-personal & {
		// Just for when using DevTools.
		top: -1em;
	}

	&:focus + .vector-menu--button {
		.mixin-focus-outline();
	}
}
