@import '../../variables.less';
@import 'mediawiki.mixins.less';

/* Hide, but keep accessible for screen-readers */
#mw-navigation h2 {
	position: absolute;
	top: -9999px;
}

#mw-head {
	position: absolute;
	top: @height-header;
	right: 0;
	width: 100%;
}

/* Navigation Containers */
#left-navigation {
	float: left;
	margin-left: 10em;
}

#right-navigation {
	float: right;
}
