@import '../../variables.less';
@import 'mediawiki.mixins.less';

// == Head ==

#mw-head-base {
	background-position: bottom left;
	.vertical-gradient( @background-color-base, @background-color-secondary, 50%, 100% );

	// Can't add 70px + 2.5em: different units, em is dynamic.
	height: @height-header;
	padding-bottom: @height-tabs;
}

// == Header ==

#header {
	position: absolute;
	height: @height-header;
	top: 0;
	left: 0;
	right: 0;
	.box-sizing( border-box );
	padding: 18px 25px 12px 25px;
}

// == Content ==

.mw-body,
#mw-data-after-content {
	margin-left: 10em;
}

// == Hide empty portlets ==
.emptyPortlet {
	display: none;
}
