@import '../../variables.less';
@import 'mediawiki.mixins.less';

// == Head ==

#mw-head-base {
	background-position: bottom left;
	.vertical-gradient( @background-color-base, @background-color-secondary, 50%, 100% );

	// Can't add 70px + 2.5em: different units, em is dynamic.
	height: @height-header;
	padding-bottom: @height-tabs;
}

// == Header ==

#header {
	position: absolute;
	height: @height-header;
	top: 0;
	left: 0;
	right: 0;
	.box-sizing( border-box );
	padding: 18px 25px 12px 25px;
}

// == Content ==

#mw-data-after-content,
.content-margin {
	max-width: @max-width-content;
	margin: 0 auto;
}

.main {
	position: relative;
	// Placeholder margin for sidebar if #sidebar-hide-checkbox is unchecked.
	margin-left: @width-sidebar + @margin-content;
}

@media ( max-width: 1400px ) {
	#sidebar-hide-checkbox:checked {
		~ .main {
			// Remove placeholder margin for sidebar if #sidebar-hide-checkbox is checked.
			margin-left: 0;
		}
	}
}

#mw-head,
#content {
	.box-sizing( border-box );
}

#mw-head {
	position: absolute;
	top: @height-header;
	height: @height-tabs;
	left: 0;
	right: 0;
}

#mw-panel {
	position: absolute;
	top: @height-header;
	margin-top: 1em;
	width: @width-sidebar;
	left: 0;
	//bottom: 0;

	.vertical-gradient( @background-color-base, @background-color-secondary, 0%, 10% );
	.box-shadow( 0 10px 15px -5px rgba(0, 0, 0, 0.15) );

	// Moved in the viewport if #sidebar-hide-checkbox unchecked.
	.transform( translateX( 0 ) );
}

#sidebar-hide-checkbox:checked {
	~ #mw-panel {
		// Moved out to the left if #sidebar-hide-checkbox is checked.
		.transform( translateX( -@width-sidebar ) );
	}
}

// == Hide empty portlets ==
.emptyPortlet,
.hidden {
	display: none;
}

// == Scrolling ==

body {
	overflow-x: auto;
	overflow-y: scroll;
}
