@import '../variables.less';

@margin-left-toc-level: 1em;
@margin-left-toc-level: -0.5em;
@use-css-pseudo-numbers: 1;

.toctitle h2 {
	&:extend( .vector-menu-portal .vector-menu--heading );
	font-size: 1em;
}

.mw-sidebar-toc {
	.toc {
		// Unset rules inherited from core.
		// Use 'table' / 'inline-block' / 'width: fit-content' / flex layout on parent
		// to take up minimal width. That will center toctitle relative to the actual width.
		// 'fit-content' is not supported by IE, so use 'inline-block'.
		// width: fit-content; // After IE is off the shelf.
		display: inline-block;
		font-size: @font-size-sidebar-toc;
		line-height: @line-height-nav;
		padding: 0;
		padding-top: unit( 8.8px / @font-size-root--px ,em ); // 4px + ~ul{padding-top} 4.8px -> 0.55em
		border: none;
		background-color: transparent;

		.toctogglespan {
			display: none;
		}
	}

	ol,
	&.mw-sidebar-toc ul {
		margin: 0.3em 0;
		counter-reset: toc-index;
		display: table;
		margin-left: -1em; // Pull the toc index left till the titles are almost aligned with the Contents header.
	}

	ol {
		list-style-type: none;
	}

	li {
		white-space: normal;
		counter-increment: toc-index;
		display: table-row; // Line up the number and the text.
	}

	.tocnumber,
	.toctext,
	ol li:before,
	ul li:before {
		display: table-cell;
		padding: @padding-vertical-sidebar-item 0; // 0.25em -> 3px
	}

	.tocnumber when ( @use-css-pseudo-numbers = 1 ) {
		display: none;
	}

	ol li:before,
	ul li:before {
		& when ( @use-css-pseudo-numbers = 1 ) {
			content: counters( toc-index, '.' );
			padding-right: 0.5em;
			text-align: right;
		}
	}

	// Correct directionality when page dir is different from site/user dir.
	.mw-content-ltr,
	.mw-content-rtl .mw-content-ltr {
		ol,
		ul {
			/* @noflip */
			text-align: left;
		}

		.toc ol ol,
		.toc ul ul {
			/* @noflip */
			margin: 0.25em 0 0.5em @margin-left-toc-level;
		}
	}

	.mw-content-rtl,
	.mw-content-ltr .mw-content-rtl {
		ol,
		ul {
			/* @noflip */
			text-align: right;
		}

		.toc ol ol,
		.toc ul ul {
			/* @noflip */
			margin: 0.25em @margin-left-toc-level 0.5em 0;
		}
	}
}
