@import '../../variables.less';

/* Panel */
#mw-panel {
	position: absolute;
	top: @height-header;
	margin-top: 1em;
	width: 10em;
	left: 0;
	font-size: @font-size-nav-main;

	// First sidebar portlet. Not using  .portal:first-child  for IE<=8 support.
	#mw-panel-top + .portal {
		background-image: none;
		margin-top: 1em;

		h3 {
			display: none;
		}

		.body {
			background-image: none;
			margin-left: @margin-left-nav-main-body;
		}
	}
}
