@import '../variables.less';
@import 'mediawiki.mixins.less';
@import 'mediawiki.mixins.flex-align.less';
@import './layout.less';
//@import 'legacy/Sidebar.less';

//@background-color-sidebar-toggle: #e8e8e8;
//@background-color-sidebar-toggle: @background-color-secondary--modern;
@background-color-sidebar-toggle--active: @background-color-secondary--modern;
@background-color-sidebar-toggle--active: @colorShadow;
//@box-shadow-color-sidebar-toggle--active: @background-color-frameless--hover;

#mw-sidebar-button {
	@padding--px: ( @size-sidebar-button--px - @size-sidebar-button-icon--px ) / 2; // (44-20)/2=12px
	padding: unit( @padding--px / @font-size-header--px, em ); // 0.75em -> 12px
	// Line up the icon with the sidebar content:
	@margin-left--px: @padding-left-sidebar--px - @padding--px - @padding-horizontal-header--px + @margin-horizontal-portal--px; // 8-12-16+16 = -4px
	margin-left: unit( @margin-left--px / @font-size-header--px, em ); // -0.25em
	margin-right: unit( 6px / @font-size-header--px, em );

	&:before {
		@size: unit( @size-sidebar-button-icon--px / @font-size-header--px, em ); // 1.25em -> 20px
		width: @size;
		height: @size;
		line-height: @size;
		//height: 100%;
		// Center it horizontally.
		//margin: 0 @margin-horizontal-sidebar-button-icon;
		// Equals `#555`, closest to `#54595d` on background-color `#fff`.
		opacity: 0.67;
	}

	&:hover {
		background-color: @background-color-frameless--hover;

		&:before {
			opacity: 1;
		}
	}
}

.mw-sidebar-button {
	border: 1px solid transparent;
	border-radius: @border-radius-base;

	&.mw-ui-icon {
		// Override minimum dimensions set by .mw-ui-icon
		min-width: auto;
		min-height: auto;
		line-height: @line-height-nav;
	}

	&:focus {
		&:extend( .vector-menu--checkbox:focus + .vector-menu--button ); // Add the selector to the already existing rule.
	}
}

// Disable transitions on page load. No-JS users will unfortunately miss out. A similar pattern is
// used in Minerva's DropDownList. See enableCssAnimations() in skin.vector.js/index.js for context
// and additional details on how this class is added.
.vector-animations-ready {
	// Enable sidebar button transitions.
	.mw-sidebar-button {
		.transition(
			background-color @transition-duration-base,
			border-color @transition-duration-base,
			box-shadow @transition-duration-base;
		);
	}
}

.mw-ui-icon:before {
	display: inline-block;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-size: contain; // Support: IE9.
	background-position: center;
	content: '';
}

/* Panel */
.mw-sidebar {
	font-size: @font-size-sidebar;
	.toctitle,
	.portal-first .vector-menu--heading {
		display: none;
	}

	> * {
		margin: 1em 0; // Expects margin collapsing. Alternative: 0.5em + flex layout.

		&:first-child {
			margin-top: 0.5em;
		}

		> * {
			padding: 0 1rem;
		}
	}
}

.mw-sidebar-heading {
	font-size: @font-size-sidebar-heading;
	font-weight: 500;
	padding: 0;
	margin: 0 1rem;
	border-bottom: 0;
	list-style-type: none;
	position: relative;

	summary&:before {
		position: absolute;
		left: -1.1em;
		display: inline-block;
		content: 'ᐅ'; // '➢➽➼'
		font-weight: normal;
		transition: transform @transition-duration-base * 1.5 ease-in-out; // Chrome 36+

		details[open] > & {
			.transform( rotate( 90deg ) );
		}
	}
}

// Increase the space between links on mobile to make it easier to touch.
@media ( min-resolution: 192dpi ), ( min-resolution: 2dppx ) {
	.vector-menu-portal .vector-menu--list li,
	.mw-sidebar .tocnumber,
	.mw-sidebar .toctext,
	.mw-sidebar ol li:before,
	.mw-sidebar ul li:before {
		padding-top: @padding-vertical-sidebar-item--touch;
		padding-bottom: @padding-vertical-sidebar-item--touch;
	}
}
