@import '../variables.less';
@import 'mediawiki.mixins.less';
@import './layout.less';
@import 'legacy/Sidebar.less';

@margin-horizontal-sidebar-button-icon: 12px;

#mw-sidebar-button {
	// Override minimum dimensions set by mw-ui-icon.mw-ui-icon-element.
	min-width: @size-sidebar-button;
	min-height: @size-sidebar-button;
	width: @size-sidebar-button;
	height: @size-sidebar-button;
	border: 1px solid transparent;
	border-radius: @border-radius-base;
	margin-left: -@margin-horizontal-sidebar-button-icon;
	margin-right: @margin-horizontal-sidebar-button-icon; // Accidentally the same.

	&:before {
		// FIXME: the icon itself is supposed to be 20px. mediawiki.ui uses 24px.
		// As soon as mediawiki.ui is standardized, remove this override. See T191021.
		min-width: 20px;
		min-height: 20px;
		height: 100%;
		// Center it horizontally.
		margin: 0 @margin-horizontal-sidebar-button-icon;
		// Equals `#555`, closest to `#54595d` on background-color `#fff`.
		opacity: 0.67;
	}

	&:hover {
		background-color: @background-color-frameless--hover;

		&:before {
			opacity: 1;
		}
	}

	&:focus {
		&:extend( .vector-menu--checkbox:focus + .vector-menu--button ); // Add the selector to the already existing rule.
	}
}

// Disable transitions on page load. No-JS users will unfortunately miss out. A similar pattern is
// used in Minerva's DropDownList. See enableCssAnimations() in skin.vector.js/index.js for context
// and additional details on how this class is added.
.vector-animations-ready {
	// Enable sidebar button transitions.
	#mw-sidebar-button {
		.transition(
			background-color @transition-duration-base,
			border-color @transition-duration-base,
			box-shadow @transition-duration-base;
		);
	}
}
